/* Cette classe devra representer les differents elements de style de notre site web
    On devra utiliser de ce fait cette page pour styler toutes les differentes pages du site */
body {
    background-color: white;
}

.header {
    height: 30%;
    width: 75%;
    margin-left: 12%;
    margin-top: 20px;
}

.logo {
    width: 37%;
    height: 100%;
    background-image: url("./Web_Pictures/home.jpg");
    background-repeat: no-repeat;
    float: left;
}

.texte {
    /* width: 63%;
    height: 100%; */
    background-color: lightgray;
    /* float: right; */
}

.content {
    background-color: white;
    height: 65%;
    width: 75%;
    margin-left: 12%;
}

.navBar {
    /* height: 10%;
    width: 100%; */
    background-color: darkgray !important;
}

.titre {
    /* text-align: center;
    font-size: 26px; */
    padding-top: 40px;
}

.subtitle {
    text-align: center;
}

.nav {
    list-style-type: none;
    font-weight: 100;
    margin-right: 160px;
    float: right;
}

.link {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
}

.extremeLeft {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 200px;
}

.basDePage {
    margin-left: 50px;
}

.contenu {
    margin-left: 20px;
    margin-right: 20px;
}

.confirm {
    float: right;
    margin-right: 5px;
}

.ville {
    font-weight: bolder;
}

.introduction {
    font-weight: bold;
    text-align: center;
}